/*Form */
.formulario{
    margin-left: 50px;
}

.formulario h2{
    margin: 20px 0;
}

.formulario h3{
    margin: 20px 0 0;
}

.formulario p{
    margin: 20px 0;
}

form input {
    margin-bottom: 15px;
}

.fenviar {
    margin-top: 15px;
}
