/*Main */
.hero {
    background-color: rgb(171, 170, 170);
    width: 100%;
    height: 450px;
    display: flex;
    
}

.hero-card {
    height: 100%;
    display: flex;
}

.hero-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-card-info {
    position: relative;
    width: 50%;
}

.hero-card-info-l {
    position: absolute;
    top: 15%;
    left: 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}

.hero-card-img {
    width: 50%;
    overflow-clip-margin: 0;
}
